<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Node Simple Server</title>
  </head>
  <body>
    <div class="container">

    <div class="title"><%= text %></div>

    <form action="/" method="post" id="noteForm" class="note-form" placeholder="Add note...">
      <input type="text" name="title" required />
      <button type="submit" class="note-submit">Add Note</button>
    </form>

    <% if (notes.length) { %>
    <ul class="notes">
      <% notes.forEach((item) => { %>
      <li class="note-item">
        <span><%= item.title %></span>
        <div>
        <button data-type="remove" data-id="<%= item.id %>" class="note-button note-remove">&times;</button>
        <button data-type="update"  data-id="<%= item.id %>" data-title="<%= item.title%>"  class="note-button note-edit">
          Edit
        </button></div>
      </li>
      <% }) %>
    </ul>
    <% } else { %>
    <p class="no-notes">No notes!</p>
    <% } %>
    </div>
    <script src="/script.js"></script>
  </body>
</html>
